.users-detail {
  width: 100%;
  //   height: 100%;

  &__container {
    display: flex;
    gap: $spacing-m;
    height: 100%;

    .users-detail__profile {
      width: 500px;
      min-width: 500px;
      background-color: $base-background;
      border-radius: 10px;
      padding: $spacing-ml;
      display: flex;
      flex-direction: column;
      gap: $spacing-ml;
      overflow-y: auto;

      &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: $spacing-ml;

        h2 {
          font-size: $fz-h4;
          font-weight: $weight-medium;
        }
      }

      img {
        border-radius: 20px;
        max-height: 400px;
        object-fit: cover;
      }

      &-info {
        ul {
          display: flex;
          flex-direction: column;
          gap: $spacing-sm;

          li {
            font-size: $fz-body;
            font-weight: $weight-semibold;

            span {
              font-weight: $weight-regular;
            }
          }
        }
      }

      &-status {
        margin-top: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: $spacing-ml;

        h3 {
          font-size: $fz-h5;
          font-weight: $weight-medium;
          text-wrap: nowrap;
        }

        select {
          width: 100%;
          background-color: $base-surface;
        }
      }
    }

    .users-detail__data {
      width: 100%;
      background-color: $base-background;
      border-radius: 10px;
      padding: $spacing-ml;
      display: flex;
      flex-direction: column;
      gap: $spacing-ml;

      &-header {
        display: flex;
        gap: $spacing-ml;
        align-items: center;
        justify-content: space-between;

        .tabs {
          display: flex;
          background-color: $base-surface;
          padding: $spacing-xs;
          border-radius: 8px;

          .tab--active {
            @include button-secondary;
          }
        }
      }

      &-create {
        display: flex;
        align-items: start;
        gap: $spacing-ml;

        textarea {
          width: 100%;
        }
      }

      &-content {
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        gap: $spacing-ml;
        padding-right: $spacing-ssm;

        .card {
          background-color: $base-surface;
          padding: $spacing-sm $spacing-ml;
          border-radius: 10px;
          display: flex;
          gap: $spacing-ml;
          align-items: center;

          img {
            min-width: 24px;
            width: 24px;
            height: 24px;
          }

          &__content {
            display: flex;
            flex-direction: column;
            gap: $spacing-xs;

            .card__title {
              font-size: $fz-h4;
              line-height: 100%;
              font-weight: $weight-semibold;
              color: $base-text-primary;
            }

            .card__text {
              font-size: $fz-body;
              line-height: 100%;
              font-weight: $weight-regular;
              color: $base-text-primary;

              &-secondary {
                color: $base-text-secondary;
                font-size: $fz-body-sm;
              }

              &-ost {
                color: $base-text-primary;
                font-size: $fz-caption;
                font-weight: $weight-light;
              }
            }
          }
        }
      }
    }
  }
}

.modal {
  &__container {
    .modal__content {
      max-height: 50vh;
      overflow-y: auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: $spacing-sm;

      label {
        input,
        select {
          width: 100%;
          max-width: 262px;
          max-height: 46px;
        }
      }
    }
  }
}
