@font-face {
  font-family: 'Manrope';
  src:
    local('Manrope-Regular'),
    local('Manrope Regular'),
    url('../../assets/fonts/Manrope-Thin.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src:
    local('Manrope-Light'),
    local('Manrope Light'),
    url('../../assets/fonts/Manrope-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src:
    local('Manrope-Regular'),
    local('Manrope Regular'),
    url('../../assets/fonts/Manrope-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src:
    local('Manrope-Medium'),
    local('Manrope Medium'),
    url('../../assets/fonts/Manrope-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src:
    local('Manrope-Semibold'),
    local('Manrope Semibold'),
    url('../../assets/fonts/Manrope-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src:
    local('Manrope-Bold'),
    local('Manrope Bold'),
    url('../../assets/fonts/Manrope-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src:
    local('Manrope-ExtraBold'),
    local('Manrope ExtraBold'),
    url('../../assets/fonts/Manrope-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}
