@mixin container {
  // max-width: 1600px;
  // margin: 0 20px;
  max-width: 1920px;
  margin: 0 auto;

  @media (max-width: 2040px) {
    margin: 0 60px;
  }

  // @media (max-width: 1200px) {
  //   margin: 0 60px;
  // }

  // @media (max-width: 960px) {
  //   margin: 0 30px;
  // }

  // @media (max-width: 600px) {
  //   margin: 0 20px;
  // }
}

@mixin base-button {
  font-family: 'Manrope';
  display: flex;
  padding: $spacing-ssm $spacing-m;
  font-size: $fz-buttons;
  font-weight: $weight-medium;
  border-radius: 10px;
  border: 1px solid transparent;
  background-color: transparent;
  color: $base-text-primary;
  cursor: pointer;
  text-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: $spacing-xs;
  transition:
    color 0.3s ease-in-out,
    background-color 0.3s ease-in-out,
    border-color 0.3s ease-in-out;

  @media (max-width: 1600px) {
    font-size: 14px;
    padding: $spacing-s $spacing-sm;
  }
}

@mixin button-primary {
  background-color: $controls-primary;
  color: $controls-text;
  border: 1px solid $controls-primary;

  &:hover {
    background-color: $controls-hover-focus;
    border-color: $controls-hover-focus;
  }

  &:active {
    background-color: $controls-active;
    border-color: $controls-active;
  }

  &[disabled='disabled'],
  &:disabled {
    background-color: $controls-disabled;
    border-color: $controls-disabled;
  }
}

@mixin button-secondary {
  background-color: $base-surface;
  color: $controls-primary;
  border: 1px solid $controls-primary;

  &:hover {
    border-color: $controls-hover-focus;
    background-color: $primary-light;
  }

  &:active {
    color: $controls-active;
    border-color: #c9dcff;
    background-color: #c9dcff;
  }

  &[disabled='disabled'],
  &:disabled {
    background-color: $controls-disabled;
  }
}

@mixin button-destructive {
  background-color: $status-error-500;
  color: $controls-text;
  border: 1px solid $status-error-500;

  &:hover {
    background-color: #d32f2f;
    border-color: #d32f2f;
  }

  &:active {
    background-color: #b71c1c;
    border-color: #b71c1c;
  }

  &[disabled='disabled'],
  &:disabled {
    background-color: #fdd8d8;
    border-color: #fdd8d8;
  }
}

@mixin button-accept {
  background-color: $status-success-500;
  color: $base-surface;
  border: 1px solid $status-success-500;

  &:hover {
    border-color: #43b146;
    background-color: #43b146;
  }

  &:active {
    color: #37943a;
    background-color: #37943a;
  }

  &[disabled='disabled'],
  &:disabled {
    background-color: $controls-disabled;
    border: $controls-disabled;
  }
}

@mixin button-white {
  background-color: $base-surface;
  color: $controls-primary;
  border: 1px solid $base-surface;

  &:hover {
    border-color: $primary-light;
    background-color: $primary-light;
  }

  &:active {
    color: $controls-active;
    border-color: #c9dcff;
    background-color: #c9dcff;
  }

  &[disabled='disabled'],
  &:disabled {
    background-color: $controls-disabled;
  }
}

@mixin button-pagination {
  background-color: $base-surface;
  border: 1px solid $base-surface;
  padding: 0;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;

  &:hover {
    border-color: $primary-light;
    background-color: $primary-light;
  }

  &:active {
    color: $controls-active;
    border-color: #c9dcff;
    background-color: #c9dcff;
  }

  &[disabled='disabled'],
  &:disabled {
    background-color: $controls-disabled;
  }
}

@mixin input-base {
  font-family: 'Manrope';
  padding: $spacing-ssm $spacing-m;
  border-radius: 10px;
  background-color: $base-surface;
  border: 1px solid $base-text-muted;
  color: #1d1d1d;
  font-size: $fz-inputs;
  font-weight: $weight-regular;
  resize: none;
  outline: none;

  &:focus {
    border-color: $controls-hover-focus;
  }

  @media (max-width: 1600px) {
    font-size: 14px;
    padding: $spacing-s $spacing-sm;
  }
}

@mixin input-filter {
  background-color: $base-background;
  border-color: $base-background;
}

@mixin base-checkbox {
  display: block;
  position: relative;
  height: 24px;
  padding-left: 32px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    border: 1px solid $base-surface;
    background-color: $base-surface;
    border-radius: 4px;

    &::after {
      content: '';
      position: absolute;
      display: none;
      left: 6px;
      top: 2px;
      width: 10px;
      height: 15px;
      border: solid $base-surface;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

  & input:checked ~ .checkmark {
    background-color: $controls-primary;
  }

  & input:checked ~ .checkmark:after {
    display: block;
  }
}
