// Font-size

$fz-h1: 64px; //48 36 28
$fz-h2: 48px; //32 26 24
$fz-h3: 32px; //24 22 20
$fz-h4: 24px; //20 18
$fz-h5: 20px;
$fz-h6: 18px;
$fz-h7: 16px;
$fz-h8: 14px;

$fz-body-lg: 20px;
$fz-body: 18px;
$fz-body-sm: 14px;
$fz-caption: 12px;

$fz-buttons: 16px;
$fz-inputs: 16px;

$weight-light: 300;
$weight-regular: 400;
$weight-medium: 500;
$weight-semibold: 600;
$weight-bold: 700;
$weight-black: 800;
