html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  font-family: 'Manrope';
}
img {
  max-width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

body {
  min-width: 320px;
  font-family: 'Manrope';
  font-weight: 400;
  position: relative;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  @include container;
}

button,
.button {
  @include base-button;
}

.button-primary {
  @include button-primary;
}

.button-secondary {
  @include button-secondary;
}

.button-destructive {
  @include button-destructive;
}

.button-accept {
  @include button-accept;
}

.button-white {
  @include button-white;
}

.button-pagination {
  @include button-pagination;
}

input,
.input,
select {
  @include input-base;
}

.input-filter {
  @include input-filter;
}

.checkbox {
  @include base-checkbox;
}

.tooltip {
  @include base-tooltip;
}

.header {
  margin-top: $spacing-ml;

  &__container {
    display: flex;
    align-items: center;
    gap: $spacing-xl;
    padding: $spacing-sm $spacing-ml;
    background-color: $base-background;
    border-radius: 10px;

    .header__logo {
      img {
        width: 200px;
        height: 49px;
      }
    }

    .nav {
      ul {
        display: flex;
        gap: $spacing-sm;

        li {
          a {
            position: relative;

            &::after {
              content: '';
              position: absolute;
              bottom: 10px;
              left: 12px;
              right: 12px;
              height: 2px;
              background-color: $base-text-primary;
              transform: scaleX(0);
              transition: background-color 0.3s ease-in-out;
            }

            &:hover {
              color: $controls-hover-focus;
              &::after {
                background-color: $controls-hover-focus;
              }
            }
          }

          .link--active {
            &::after {
              transform: scaleX(100%);
            }
          }
        }
      }
    }

    .header__profile {
      margin-left: auto;
      display: flex;
      align-items: center;
      gap: $spacing-sm;
      color: $base-text-primary;

      img {
        padding: $spacing-sm;
        border-radius: 50%;
        background-color: $base-surface;
      }

      p {
        font-size: $fz-body-sm;
        transition: color 0.3s ease-in-out;
      }

      &:hover {
        color: $controls-hover-focus;
      }
    }

    .header__logout {
    }
  }
}

main {
  display: flex;
  gap: $spacing-m;
  margin: $spacing-ml 0;
  height: 100%;
  overflow: hidden;
}

.filter {
  min-width: 330px;
  max-width: 330px;
  background-color: $base-background;
  border-radius: 10px;
  height: 100%;
  // padding: $spacing-ssm;

  .filter__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: $spacing-l;

    padding: $spacing-l $spacing-ssm;
    // overflow-y: auto;

    .filter__content {
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      gap: $spacing-l;
      padding: 0 $spacing-ml;

      &::-webkit-scrollbar-track {
        background: $base-surface;
      }
    }
    .filter__wrap {
      display: flex;
      flex-direction: column;
      gap: $spacing-s;
      padding-bottom: $spacing-l;
      border-bottom: 1px solid $controls-disabled;

      h3 {
        font-size: 18px;
        line-height: 100%;
        color: $base-text-primary;
        font-weight: $weight-semibold;
      }

      .input-filter {
        background-color: $base-surface;
      }

      .range {
        &__wrap {
          display: flex;
          gap: 16px;
          align-items: center;
          margin-bottom: 16px;

          input {
            width: 100%;
          }
        }

        .noUi-target {
          border: none;
          box-shadow: none;
          border-radius: 0;
          background-color: $base-surface;
          padding: 0 $spacing-s;
        }

        .noUi-horizontal {
          height: 2px;
        }
        .noUi-connects {
          cursor: pointer;
        }

        .noUi-connect {
          background-color: $controls-primary;
        }
        .noUi-horizontal .noUi-handle {
          right: -8px;
          top: -7px;
          width: 16px;
          height: 16px;
        }
        .noUi-handle {
          border: none;
          border-radius: none;
          background-color: transparent;
          box-shadow: none;
        }
        .noUi-handle:focus {
          outline: none;
        }
        .noUi-handle:after,
        .noUi-handle:before {
          display: none;
        }

        .noUi-touch-area::before,
        .noUi-touch-area::after {
          content: '';
          position: absolute;
          display: inline-block;
          width: 100%;
          height: 100%;
        }

        .noUi-touch-area {
          background-color: $base-surface;
          border: 2px solid $base-text-muted;
          border-radius: 50%;
          transition: background-color 0.3s ease-in-out;
        }
      }
    }

    .search {
      margin-top: auto;
    }
  }
}

.search-block {
  display: flex;
  gap: $spacing-sm;

  input {
    width: 100%;
  }

  select {
    max-width: 220px;
    min-width: 220px;
  }
}

.menu {
  min-width: 330px;
  max-width: 330px;
  background-color: $base-background;
  border-radius: 10px;
  height: 100%;
  padding: $spacing-l $spacing-ssm;

  &__container {
    overflow: auto;
    height: 100%;

    .nav {
      &__list {
        .item {
          a {
            display: flex;
            justify-content: space-between !important;
            gap: 7px;
            text-wrap: wrap;
            justify-content: start;

            span {
              transition: color 0.3s ease-in-out;
            }

            svg {
              min-width: 20px;
              transition: transform 0.3s ease-in-out;

              path {
                transition: fill 0.3s ease-in-out;
              }
            }

            &:hover {
              span {
                color: $controls-hover-focus;
              }

              svg {
                path {
                  fill: $controls-hover-focus;
                }
              }
            }
          }

          .nested {
            height: 0;
            overflow: hidden;
            transition: height 0.3s ease-in-out;
            position: relative;

            &__menu {
              padding-left: $spacing-m;
              .nested__wrap {
                position: relative;
                padding-left: $spacing-xs;

                .nested__list {
                  .nested__link {
                    &:hover {
                      color: $controls-hover-focus;
                    }
                  }
                }

                &::before {
                  content: '';
                  width: 16px;
                  position: absolute;
                  left: 0;
                  top: 0;
                  bottom: 24px;
                  border-left: 1px solid $base-text-primary;
                  border-bottom: 1px solid $base-text-primary;
                  border-radius: 0 0 0 10px;
                }
              }
            }
          }
        }
      }
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: $spacing-xs;

  .pagination__pages {
    display: flex;
    align-items: end;
    gap: $spacing-xs;
  }

  .button-pagination--active {
    background-color: $controls-primary !important;
    color: $base-surface;
  }
}

.overlay {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1100;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  background-color: $base-surface;
  border-radius: 32px;

  &__container {
    padding: $spacing-xl;
    display: flex;
    flex-direction: column;
    gap: $spacing-ml;

    h2 {
      font-size: $fz-h3;
      font-weight: $weight-semibold;
      line-height: 100%;
      // text-align: center;
    }

    .modal__buttons {
      display: flex;
      gap: $spacing-s;

      button {
        width: 100%;
      }
    }
  }
}

::-webkit-scrollbar {
  width: 5px;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: $base-background;
}

::-webkit-scrollbar-thumb {
  background: $controls-primary;
  border-radius: 5px;
}
